@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*Above: Import URLs | Below: */
body{
    width: 100vw;
    background-color: white;
    color: black;
}
.intro{
    padding-left: 2vw;
    padding-right: auto;
}
img.headerImg{
    height: 4vh;
    width: auto;
    padding-left: -5px;
}  
/* Dropdown box fade in/out */
  @media (min-width: 1000px) {
  .dropdown-menu{
    display: block;
    opacity: 0;
    transition: all 0.2s;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
    opacity: 1;
  }
}
section{
  padding-left: 25px;
}
/* Page Details */
section.detail{
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 15px;
}
.detail img{
  width: 45%;
  float: right;
  padding-top: 3%;
}
.detail p{
  float: left;
  text-align: left;
  width: 40%;
  padding-top: 3%;
  user-select: none;
}
.detail a{
  text-decoration: underline;
  color: black;
}
span.forLegalReasons{
  color: rgba(1, 1, 1, 0.2);
  font-size: 8px;
  text-align: center;
  text-emphasis: 1;
  user-select: none;
}
.detail span.price{
  text-align: center;
  display: block;
  font-size: large;
  font-weight: bold;
  user-select: none;
}
.divider{
  border: 3px solid grey;
  border-radius: 2px;
  height: 126%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 25%;
}
@media (max-width: 999px) {
  section.detail{
    width: 90%;
  }
  .divider{
    display: none;
  }

}
/* Dark mode toggler css <--->
* {box-sizing: border-box;}
body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
/* Dark mode theme <--->
body.dark{
  background-color: #292c35;
  color: whitesmoke;
}
.dropdown-menu.dark{
  background-color: #111;
}
.dropdown-menu.dark li a{
  color: whitesmoke;
  background-color: #111;
}
.dropdown-menu.dark li a.disabled{
  background-color: #111;
  opacity: 0.9;
  color: gray;
}
.dropdown-menu.dark li:hover{
  background-color: #111;
}
.navbar-collapse.dark{
  background:linear-gradient(to right, #292c35,blue);
}
.checkbox.checked + .checkbox-label .ball{
  transform: translateX(24px);
}
.checkbox.reset_pos + .checkbox-label .ball{
  transform: translateX(-24px);
}
/* Light mode additions <--->
.navbar-collapse{
  background:linear-gradient(to right,white,#41ADEF);
}
*/